[submodule "AndroidEssentials"]
	path = AndroidEssentials
	url = git@github.com:SciAps/AndroidEssentials.git
[submodule "Common"]
	path = Common
	url = git@github.com:SciAps/Common.git
[submodule "AndroidCommon"]
	path = AndroidCommon
	url = git@github.com:SciAps/AndroidCommon.git
[submodule "LIBZHardwareCommon"]
    path = LIBZHardwareCommon
    url = git@github.com:SciAps/LIBZHardwareCommon.git
