<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sciaps.android.zebra" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:screenOrientation="portrait" >

        <activity android:name=".DiscoverActivity"
            android:label="Zebra Test" >

        </activity>


        <activity android:name=".PrintActivity">

            <intent-filter>
                <action android:name="com.sciaps.android.zebra.PRINT" />
            </intent-filter>

        </activity>

    </application>

</manifest>
